@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0, 0, 0, 0.4);
    --box-shadow:0 2rem 3rem rgba(132,139,200,0.18);
}
.theme{
    background: rgb(17, 16, 16);
    color: white;  
}
#theme2,#theme3,#theme4,#theme5,#theme6,#theme7,#theme8,#theme9{
    background: rgb(17, 16, 16);
    color: white;
}
*{
    margin: 0;
    padding: 0;
    text-decoration:none;
    outline: 0;
    appearance:0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
}
html{
    font: 14px;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background-color: #f6f6f9;
    user-select: none;
    overflow-x: hidden;
    color:#363949;
}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
a{
    color:#363949;
}
img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h5{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: #7d8da1;
}
p{
    color: #677483;
}
b{
    color: #363949;
}
.primary{
    color: #7380;
}
.danger{
    color: #ff7782;
}
.success{
    color: #41f1b6;
}
.warning{
    color: #ffbb55;
}
aside{
    height: 100vh;
}
aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
aside .logo img{
    width: 2rem;
    height: 2rem;
}
aside .logo{
    display: flex;
    gap: 0.8rem;
}
aside .close{
    display: none;
}
.close{
    width: 20px;
}
.sideBarIcon{
    width: 1.6rem;
    transition: all 300ms ease;
}
/* sidebar */
.sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}
aside h3{
    font-weight: 500;
}
aside .sidebar a{
    display:flex;
    margin-left:2rem;
    color:#7d8da1;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
aside .sidebar a:last-child{
    position:absolute;
    bottom:-10rem;
    width: 100%;
}
aside .sidebar a.active{
    background: rgba(132,139,200,0.18);
    color: #7380ec;
    margin-left: 0;
}
aside .sidebar a.active::before{
content: "";
width: 6px;
height: 100%;
background:#7380ec;
}
aside .sidebar a.active .sideBarIcon{
    color:#7380ec;
    margin-left: calc(1rem - 6px);
}
aside .sidebar a:hover{
color: #7380ec;
}
aside .sidebar a:hover .sideBarIcon{
margin-left: 1rem;
}
.message-Count{
    color: white;
    padding: 2px 10px;
    font-size: 11px;
    background:#ff7782;
    border-radius:6px;
}
/* main section */
main{
    margin-top: 1.4rem;
}
.date{
    display: inline-block;
    border-radius: 0.4rem;
    background: rgba(132,139,200,0.18);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
.date input[type="date"]{
    background: transparent;
    color:#363949;
}
.insights{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1.6rem;
}
.insights >div{
    background: white;
    padding: 1.8rem;
    border-radius:2rem;
    margin-top: 1rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
    height:300px;
}
.insights >div:hover{
    box-shadow: none;
}
.insights >div .sideBarIcon{
background:#7380ec;
padding: 0.5rem;
border-radius: 50%;
color: white;
width:3rem;
}
.insights >div.expenses .sideBarIcon{
background: #ff7782;
}
.insights >div.income .sideBarIcon{
    background: #41f1b6;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
.progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
.insights svg{
    width: 7rem;
}
.insights svg circle{
    fill: none;
    stroke-width: 14;
    stroke: #7380ec;
    stroke-linecap:round;
    transform: translate(7px ,7px);
}
.insights .sales svg circle{
stroke-dashoffset: -30;
stroke-dasharray: 200;
}
.insights .expenses svg circle{
    stroke-dashoffset:20;
    stroke-dasharray:80;
}
.insights .income svg circle{
    stroke-dashoffset:35;
    stroke-dasharray:110;
}
.number{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insights small{
    display: block;
    margin-top: 1.3rem;
}
/* Recent orders */
.recent-orders{
    margin-top: 2rem;
}
.recent-orders h2{
    margin-bottom:0.8rem;
}
.recent-orders table{
    background: white;
    width: 100%;
    border-radius:2rem;
    padding: 1.8rem;
    text-align: center;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
.recent-orders table:hover{
    box-shadow: none;
}
main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid rgba(132,139,200,0.18);
    color:#677483;
}
.recent-orders a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: #7380ec;
}
/* right */
.right{
    margin-top:1.4rem;
}
.right .top{
    display:flex;
    justify-content: end;
    gap: 2rem;
}
.right .top button{
    display: none;
}
.right .theme-toggler{
    background: rgba(132,139,200,0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
}
.right .sideBarIcon{
    font-size: 1.4rem;
    color: black;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .light-mode svg{
    background: #7380ec;
    color: white;
    border-radius: 0.4rem;
}
.profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}
/* recentupdates */
.recent-updates{
    margin-top:1rem;
}
.recent-updates h2{
    margin-bottom: 0.8rem;
}
.recent-updates .updates{
    background: white;
    padding: 1.8rem;
    border-radius:2rem;
    transition: all 300ms ease;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
}
.recent-updates .updates:hover{
    box-shadow: none;
}
.recent-updates .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
/* sales analytics */
.sales-analytics{
    margin-top: 2rem;
}
.sales-analytics h2{
    margin-bottom: 0.8rem;
}
.sales-analytics .item{
    display: flex;
    background: white;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem 1.8rem;
    border-radius: 1.2rem;
    box-shadow: 0 2rem 3rem rgba(132,139,200,0.18);
    transition: all 300ms ease;
}
.sales-analytics .item:hover{
    box-shadow: none;
}
.sales-analytics .sideBarIcon{
    width:45px;
}
.right .sales-analytics .item .right{
    display: flex;
    justify-content: space-between;
    align-items:start;
    margin: 0;
    width: 100%;
}
.right .sales-analytics .item .sideBarIcon{
    padding: 0.6rem;
    color:black;
    border-radius: 50%;
    display: flex;
}
.right .sales-analytics .item.offline .sideBarIcon{
background: #ff7782;
color: white;
}
.right .sales-analytics .item.customers .sideBarIcon{
background: #41f1b6;
color: white;
}
.right .sales-analytics .item.online .sideBarIcon{
    background: #7380ec;
    color: white;
}
.right .sales-analytics .add-products{
    background-color: transparent;
    border: dashed 2px #7380ec;
    color: #7380ec;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sideBarIcon.last{
    color: black;
}
.right .sales-analytics .add-products div{
    display: flex;
    align-items: center;
    gap: 0.6rem;   
}
.right .sales-analytics .add-products div h3{
    font-weight: 600;
}
.customerHolder,.ordersHolder{
    display: none;
}
#customerContainer,#ordersContainer{
    background:rgb(248, 248, 248);
    padding: 20px;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 15%;
    border-right:10px solid blueviolet;
}
#customerContainer h3,#ordersContainer h3{
color: black;
font-size: 29px;
text-align: center;
padding: 20px;
}
#cust,#order{
    display: flex;
    flex-wrap: wrap;
}
#cust img,#order img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding: 20px;
}
#cust p,#order p{
font-size: 16px;
text-align: center;
}
/*media queries for tablet */
@media screen and (max-width:1200px){
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }
    aside .logo h2{
        display: none;
    }
    aside .sidebar h3{
        display: none;
    }
    aside .sidebar a{
        width: 5.6rem;
    }
    aside .sidebar a:last-child{
        margin-top:-1.8rem;
        position: relative;
    }
    main .insights{
        grid-template-columns: 1fr;
        gap: 0;
    }
    main .recent-orders{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 2rem 0 0 8.8rem;
    }
    main .recent-orders table{
        width: 82vw;
    }
    main table thead tr th:last-child,main table thead tr th:first-child{
        display: none;
    }
    main table thead tr th:last-child,main table thead tr th:first-child{
        display: none;
    }
    main table tbody tr td:last-child,main table tbody tr td:first-child{
        display: none;
    }
}
/* smaller devices media queries */
@media screen and (max-width:768px){
  .container{
    width: 100%;
    grid-template-columns: 1fr;
  }
  aside{
    position: fixed;
    left:-110;
    background: white;
    width: 18rem;
    z-index: 3;
    box-shadow:1rem 3rem 4rem rgba(132,139,200,0.18);
    height: 100vh;
    padding: 1.8rem;
    display: none;
    color: black;
    animation:showMenu 400ms ease forwards ;
  }
  @keyframes showMenu{
    to{
        left: 0;
    }
  }

  aside .logo h2{
    display: inline;
  }
  aside .sidebar h3{
    display: inline;
  }
  aside .logo{
    margin-left: 1rem;
  }
  aside .sidebar a{
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child{
    position: absolute;
    bottom: 5rem;
  }
  aside .close{
    display: inline-block;
    cursor: pointer;
    width: 30px;
  }
  main{
    margin-top: 8rem;
    padding: 0 1rem;
  }
  main .recent-orders{
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }
  main .recent-orders table{
    width: 100%;
    margin: 0;
  }
  .right{
    width: 94%;
    margin: 0 auto 4rem;
  }
  .right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background-color:#fff;
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem rgba(132,139,200,0.18);
  }
  .right .top .theme-toggler{
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }
  .right .profile .info{
    display: none;
  }
  .right .top button{
    display: inline-block;
    width: 60px;
    background:transparent;
    cursor: pointer;
    color:#363949;
    position: absolute;
    left: 1rem;
  }
}